@model SunSnap.Models.SunLocationRequest

@{
    ViewData["Title"] = "Photo Gallery";
}

<h2>Photo Gallery</h2>

<form method="post" asp-action="SunLocationRequest">
    <table class="table">
        <thead>
            <tr>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="number" name="Longitude" class="form-control" placeholder="Enter Longitude" step="0.0001" required>
                </td>
                <td>
                    <input type="number" name="Latitude" class="form-control" placeholder="Enter Latitude" step="0.0001" required>
                </td>
                <td>
                    <input type="hidden" name="UploadDate" value="@DateTime.UtcNow">
                    <input type="hidden" name="SunRiseTime" value="@TimeSpan.Parse("06:45:00")">
                    <input type="hidden" name="SunSetTime" value="@TimeSpan.Parse("18:45:00")">

                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Find Sun Location</button>
    </div>
</form>

<style>
    .btn-lg {
        padding: 15px 32px;
        font-size: 18px;
        border-radius: 5px;
    }

    .mt-3 {
        margin-top: 20px;
    }
</style>
